*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.box{
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin: 10px 10px;
    display: inline-block;
}

.bg-green{
    background-color: darkgreen;
}

.bg-5{
    background-color: darksalmon;
}

.bg-3{
    background-color: rgb(109, 62, 143);
}